
           p{
            font-family: 'Dancing Script';
            font-size: 195%;
            color:rgb(46, 44, 44)
           }
           h1{
            font-family:sans-serif;
           }
           body{
            background-color:rgb(243, 224, 237);
           }
           h3{
            font-size: 220%;
           }
           li{
            font-size: 140%;
           }
           .number1{
            font-size: 150%;
           }
           .number2{
            font-size: 140%;
           }
           .number3{
            font-size: 130%;
           }
           .number4{
            font-size: 120%;
           }
            .number5{
                font-size: 100%;
            }
            #minha-foto {
                float: left;
                height: 500px ;
            }
            .image{
                height: 500px;
            }
            .descricao{
                left: 100px;
            }
            div{
                border: 2px solid blue;
            }
    